body {
    text-align: center;
    padding: 20px 0 0 20px;
    max-width: 800px;
    color: red;
    background-color: darkblue;
}

h1 {
    color: rgb(48, 148, 48);
    border: 2px solid #e7bc52
}

button {
    color: #a078ea;
    margin-left: 330px;
    padding: 20px;
    display: block;
}

span {
    font-size: small;
}

h3 {
    border: 2px white thick;
    color: #a078ea
}